In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
bfdata = pd.read_csv("BlackFridaySales.csv")

bfdata

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Crime_rate,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,8,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,6,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,17,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,17,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,13,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,25,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,25,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,25,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,25,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,25,4+,1,20,NaN,NaN,490

In [5]:
bfdata.shape
bfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Crime_rate                  550068 non-null  int64
 7   Stay_In_Current_City_Years  550068 non-null  object
 8   Marital_Status              550068 non-null  int64
 9   Product_Category_1          550068 non-null  int64
 10  Product_Category_2          376430 non-null  float64
 11  Product_Category_3          166821 non-null  float64
 12  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 54.6+ MB

In [6]:
bfdata.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Crime_rate                         0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

2.

Relations:

I see that around 75 percent of the users who made the purchases are male and remaining 25 percent are female.

Most of the purchases were from age group 26-35 and 36-45 and from the city category B.

From the dataset I see one of the column `Stay_In_Current_City_Years`. I noticed that those who have lived in the city for one year likely to spend the most.This is comprehensible since individuals who have lived in the city for more than four years are often more established and less interested in buying new goods than those who are new to the city, who tend to spend more.

With the use of relations and features we can predict the `purchase price` of the products to maximize profits.

Cleaning:

One of the feature is 'Crime_rate' which tells us about the crime rate in that particular city. I see that there is no noticeable relation so discarding that column.

In [7]:
bfdata.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Crime_rate', 'Stay_In_Current_City_Years', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Purchase'],
      dtype='object')

In [8]:
bfdata.drop(columns=['Crime_rate'],inplace=True)
bfdata.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

Checking null values

In [9]:
bfdata.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

I see Product_Category_2  and Product_Category_3 have significanty high number of NULL values. I will discard these columns for now.

In [10]:
bfdata.drop(columns=['Product_Category_2','Product_Category_3'],inplace=True)
bfdata.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Purchase'],
      dtype='object')

In [11]:
#Checking if there are more NULL Values
bfdata.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Purchase                      0
dtype: int64

Creating training/test sets

In [12]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(bfdata, test_size=0.2, random_state=123)
print(len(train_set), len(test_set))
print(train_set.head())
print(test_set.head())

440054 110014
        User_ID Product_ID Gender    Age  Occupation City_Category  \
391094  1000173  P00114342      M  26-35           0             B
244559  1001676  P00133542      M  18-25           4             B
192190  1005686  P00116742      M    55+          16             A
323112  1001741  P00289342      M  36-45           7             A
169758  1002157  P00156442      F  18-25           3             C

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
391094                          1               1                   1
244559                         4+               0                   5
192190                          1               1                  11
323112                         4+               1                   5
169758                          0               0                   8

        Purchase
391094     19102
244559      3473
192190      3230
323112      8644
169758      6108
        User_ID Product_ID Gender    Age  Occupation City_Category  \
427227  1005778  P00090842      M  36-45          12             C
546751  1001238  P00371644      F  36-45          20             A
422348  1004994  P00030842      M  46-50          17             B
238930  1000881  P00163342      M  18-25          14             A
145279  1004388  P00034042      M  46-50           3             B

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
427227                          1               0                  11
546751                          1               0                  20
422348                         4+               0                   1
238930                          1               0                   6
145279                          2               1                   1

        Purchase
427227      3191
546751       473
422348     18969
238930     12724
145279     19615